body{
    margin: 0 350px;
    font-family: "Source Sans 3", sans-serif;;
}

header{
    display: flex;
    justify-content: space-between;
}


.logo{
    width: 227px;
    height: 88.04px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.friend-info-container{
    display: flex;
    width: 30%;
}

.post{
    width: 750px;
    height: 750px;
}

.icons{
    width: 32.5px;
    height: 34.5px;
}